<h1 class="col-sm-4">
    Password Reset Form
</h1>
<%if(locals.user){%>
    <form action="/users/reset-password-signed-in" method = "POST">
        <%- include('_resetForm');%>
    </form>
<%}else{%>
    <form action="/users/reset-password-action/<%= token%>" method = "POST">
        <%- include('_resetForm');%>
    </form>    
<%}%>