.page-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.page-container > div{
    margin: 20px;
}

#question-category{
    width: 20pc;
}

#feed{
    width:50pc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


#other-users{
    width:25pc
}

body{
    background-color: lavender;
    color:white;
}

#question-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* question card that gets displayed and follows the same structure */
.question-card{
    background-color: white;
    padding: 10px;
    display: flex;
    margin: 20px;
    flex-direction: column;
    color: black;
    text-align: left;
    min-height:150px;
    width:62%;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
}

/* name of the person who asks the question has a different font size */
.question-asker{
    font-size: 18px;
}

.delete-question-container small{
    position: absolute;
    right:30px;
    bottom: 10px;
    font-size: 15px;
}


#enter-question {
    font-size: 20px;
}

